html(lang="en")
    head 
        title= "HomePage"
        link(rel="stylesheet", href="")
    body
    h3 welcome, #{name}
    h4='My Bio'
    p=bio 
    img(src=pic, alt="profile_pic" style="width:200px; height: 200px;")
    a(href="/logout") Logout 